<!DOCTYPE html>
<html ng-app="potionBook">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Lookup programming languages resources">
    <meta name="author" content="Éléonore Mayola">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
	  integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="cover.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Calligraffitti' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
    <script src="app.js" type="application/javascript"></script>
    <title>Test angularjs for Potion Book app</title>
  </head>

  <body>

    <div ng-controller="BookController as book">
      <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h1 class="masthead-brand">Potion book</h1>
            </div>
          </div>

	  <div class="container">
	    <div class="jumbotron top">
	      <button type="button" class="btn btn-default btn-paradigm"
		      ng-click="book.getFilters('paradigms')">paradigm</button>
	      <button type="button" class="btn btn-default btn-type"
		      ng-click="book.getFilters('types')">type</button>
	      <button type="button" class="btn btn-default btn-use"
		      ng-click="book.getFilters('uses')">use</button>

	      <h3>Click on a filter</h3>

	      <span>
		<button type="button" class="btn btn-default"
			ng-repeat="f in book.filters"
			ng-click="book.selectRecipes(f)">{{f}}
		</button>
              </span>
	      <span>{{book.debug}}</span>
	    </div>

            <div class="jumbotron">
	      <div class="language panel panel-default"
		   ng-repeat="recipe in book.recipes | orderBy: 'name'">
		<div class="name-label panel-heading">
		  <h3>{{recipe.name}}</h3>
		</div>
	      </div>
	    </div>
	  </div>

	</div>

      </div>
      </div>



    </div>

  </body>
</html>
